#id2{  
    background-color: rgb(248, 248, 247);
    width: 100%;
    height: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; 
    z-index: 30;  */
}
a{
    text-decoration: none;
    color: black;
    font-size: 20PX;
}
body{
    position: relative;
}

.btn_rtr{
    position: fixed ;
    z-index: 100;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 100px;
}
#id1{
    width: 100%;
    height: 1100px;
    background: url(img1.png) no-repeat center/cover;
    margin-top: 0px;
    position: relative;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    /* display: absolute;  */
}

.btn{
    margin-left: 400px;
    gap: 50px;
    margin-right: 12px;
}

.div1{
    width:7%;
    height:50%;
}

.div26{
    width: 95px;
    height: 70px;
    margin-left: 10px;
    padding-top: 5px;
}

.logo{
   font-style:inherit ;
   margin-left: 36px;
   color: rgb(82, 144, 20);
}

.div0{
    /* list-style-type: none; */
    margin-top: 40px;
    /* margin-left: 200px;*/
    margin-right: 30px; 
    display: flex;
    gap: 30px;
    list-style-type: none;
    color: black;
}




.div3{
    font-size: 80px;
    margin-left: 330px;
    margin-top: 150px;
}

.div4{
    margin-left: 45%;
    margin-top: 90px;
    border-radius: 50px;
    background-color:hsl(0 , 0% , 100% /-2);
    color: black;
    max-width: 50%;
    height: 250px;
    border: 1px solid hsl(0 , 0% , 100% /-2);
    backdrop-filter: blur(30px);
    display: flex;
}

.div5{
    width: 50%;
    height: 250px;
    margin-left: 50%;
    transition: 1s;
}

.div5:hover{
    transform:scale(1.2);
    z-index: 2;
}

.div6{
    font-size: 33px;
    width: 50%;
    margin-top: -225px;
    margin-left: 15px;
}

.div7{
    background-color: rgb(245, 249, 229);
    width: 100%;
    height: 2000px;
    margin-top: 0%; 
}

.div8{
    font-size: 50px;
    font-style:oblique;
    color:rgb(157, 118, 71);
    margin-left: 4%;
    margin-top: 0%;
    padding-top: 70px;
}

.div9{
    width: 45%;
    height: 40%;
    margin-left: 52%;
    border-radius: 20px;
}
.div10{
    font-size: 25px;
    width: 30%;
    margin-top: -790px;
    margin-bottom: 30px;
    margin-left: 7%;
}

.div11{
    padding-top: 0px;
    width: 40%;
    height: 687px;
    margin-left: 2%;
    border-radius: 20px;
}

#id4{
    /* width: 100%;
    height: 100%; */
    margin-top: 90px;
}

#id5{
    width: 100%;
    height: 100%;
}

.div111{
    padding-top: 0px;
    width: 40%;
    height: 655px;
    margin-left: 2%;
    border-radius: 20px;
}

.div100{
    font-size: 25px;
    width: 30%;
    margin-top: -750px;
    margin-bottom: 30px;
    margin-left: 7%;
}

.div12{
    width: 100%;
    height: 800px;
    /* background: url(img13.jpeg) no-repeat center/cover; */
    margin-top: 0%;
    position: relative;
}

.div13{
    margin-left: 10%;
    margin-top: -700px;
    border-radius: 50px;
    /* background-color:hsl(0 , 0% , 100% /-2); */
    /* color: black; */
    width: 80%;
    height: 600px;
    /* border: 1px solid hsl(0 , 0% , 100% /-2); */
    backdrop-filter: blur(50px);
    padding-top: 1px;
    padding-left: 25px;
}

.div14{
    font-size: 40px;
    font-family:monospace;
    font-style: oblique;
    color: rgb(2, 60, 2);
    margin-top: 50px;
}

.div15{
    font-size: 47px;
    font-style: oblique;
    margin-right: 5px;
}

.div16{
    background-color: rgb(245, 249, 229);
    width: 100%;
    height: 1560px;
    margin-top: 0%; 
}

.div17{
    width: 90%;
    height: 800px;
    margin-left: 5%;
    padding-top: 150px;
}

.div18{
    padding-left: 680px;
    width: 500px;
    height: 300px;
}

.div19{
    font-size: 40px;
    font-style: oblique;
    max-width: 500px;
    margin-top: -280px;
    margin-left: 40px;
}

.div20{
    margin-top: 0px;
    background: url(img16.png) no-repeat center/cover;
    width: 100%;
    height: 900px;
}

.div21{
    padding-top: 10%;
    padding-top: 100px;
    margin-left: 10%;
    height: 700px;
    width: 80%;
    position: relative;
}

.div22{
    background-color: rgb(245, 249, 229);
    width: 100%;
    height: 600px;
    margin-top: 0%;
}

.div23{
    font-size: 41px;
    font-family:monospace;
    font-style: oblique;
    color: rgb(2, 60, 2);
    margin-left: 4%;
    margin-top: 0%;
    padding-top: 60px;
}

.div24{
    font-size: 48px;
    font-style: oblique;
    margin-left: 3%;
    margin-right: 3%;
}

#id6{
    width: 100%;
    height: 110px;
    background-color: rgb(136, 90, 38);
    margin-top: 0px;
}

.div27{
    font-size: 30px;
    margin-left: 150px;
    margin-top: -60px;
}

.div28{
    font-size: 30px;
    margin-left: 600px;
    margin-top: -60px;
}

.div29{
    margin-left: 1200px;
    margin-top:-80px;
    padding-top: -100px;
    display: inline;
}

.div32{
    width: 40px;
    height: 40px;
    margin-left: 800px;
    margin-right: 10px;
}

.div30{
    width: 200px;
    height: 180px;
    border-radius: 50px;
    margin-top: 50px;
    gap: 650px;

}

.div31{
    /* margin-left: 350px; */
    margin-left: 220px;
    margin-top: 70px;
}